.gridFirst {
    background-color: #ffffff;
    width: 81%;
    margin-left: 271px;
    border-radius: 6px;
    margin-top: 80px;
  }
  .gridFirst h1 {
    margin: 20px;
  }
  .gridFirst .dropdown-menu {
    margin-left: 20px;
  }
  .dropdown-menu {
    width: 363px;
    background-color: white;
    border: 1px solid #3a3541;
    height: 48px;
    border-radius: 6px;
  }
  .gridSecond {
    background-color: white;
    width: 81%;
    margin-left: 271px;
    border-radius: 6px;
  }
  .dropdown {
    width: 126px;
    height: 40px;
    background-color: white;
    border: 1px solid #3a3541;
    border-radius: 6px;
    margin-left: 20px;
  }
  .invoice-button {
    background-color: #9155fd;
    color: white;
    width: 118px;
    height: 40px;
    border-radius: 6px;
    font-size: 12px;
  }
  .export-button{
    width: 118px;
    height: 40px;
    border-radius: 6px;
    font-size: 14px;
    border: 1px solid #0000005c;
    color: #0000005c;
  }